#table1{
border: 1cm solid black;
padding: auto;
text-align: right;

}
    

.media{
    width: 33%;
    height: auto;

}
.idk{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    gap: 10px;
    flex-wrap: wrap;
}
footer{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
background-color: blue;
color: black;
left: auto;

}