
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
/* navigace*/
.navbar{ 
    text-decoration: none;
    background-color: crimson;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.list_nav{
    list-style: none;
    display: flex;
}
#Home{
color: green;
font-size: large;
font-weight: bold;
margin-right: 25px;
text-decoration: none;
}
.nav_button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
.nav_button a {
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
}
#Contact{
    text-decoration: none;
}